In [1]:
                            # Practical Questions
#1.  Write a code to create a string with your name and print it
user_name = "Gourav"
print(user_name)

Gourav

In [3]:
type(user_name)

str

In [16]:
#2. Write a code to find the length of the string "Hello World"
s = "Hello World"
len(s)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

In [20]:
string = "Python Programming"
string[0:3]

'Pyt'

In [32]:
#4.Write a code to convert the string "hello" to uppercase
text = "hello"
text.upper()

'HELLO'

In [53]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = " I like apple"
text.replace("apple", "orange")

' I like orange'

In [107]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
list(range(1, 6))

[1, 2, 3, 4, 5]

In [115]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [121]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [125]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [129]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a','b','c','d']
my_list[1]

'b'

In [151]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list[::-1]

[50, 40, 30, 20, 10]

In [169]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
s = (100, 200, 300)
print(s)

(100, 200, 300)

In [171]:
type(s)

tuple

In [209]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red','green','blue','yellow')
type(t)

tuple

In [196]:
t[-2]

'blue'

In [203]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [207]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog','cat','rabbit')
my_tuple[1]

'cat'

In [219]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_fruits = ("Mango", "banana", "Kiwi")
if "Kiwi" in my_fruits:
    print("True")
else:
    print("False")

True

In [227]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [229]:
type(s)

set

In [239]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()

In [241]:
my_set

set()

In [243]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)

In [245]:
my_set

{1, 2, 3}

In [247]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1|set2
print(union_set)

{1, 2, 3, 4, 5}

In [249]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1&set2

{2, 3}

In [259]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name":"Gourav", "age":19,"city":"Guwahati"}

In [261]:
my_dict

{'name': 'Gourav', 'age': 19, 'city': 'Guwahati'}

In [267]:
type(my_dict)

dict

In [275]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name':'john','age':25}
my_dict["country"] = "Banglore"

In [278]:
my_dict

{'name': 'john', 'age': 25, 'country': 'Banglore'}

In [290]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name':'Alice','age':30}
my_dict.get('name')

'Alice'

In [305]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')

22

In [308]:
my_dict

{'name': 'Bob', 'city': 'New York'}

In [312]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("True")
else:
    print("False")

True

In [324]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
print(my_list)
t = (1, 2,"raj","nabiul","True")
print(t)
my_dict = {"name":"iqbal","age":19,"profession":"student"}
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 'raj', 'nabiul', 'True')
{'name': 'iqbal', 'age': 19, 'profession': 'student'}

In [340]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_list = random.sample(range(0, 101),5)
random_list.sort()
print(random_list, sep = ".")

[13, 41, 44, 51, 77]

In [1]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ["gourab","vivek","iqbal"]
print(my_list[2])

iqbal

In [3]:
type(my_list)

list

In [36]:
#29.Write a code to combine two dictionaries into one and print the result.
my_dict1 = {"word":"play","fruit":"orange","name":"prashant"}
my_dict2 = {"country":"USA","city":"guwahati","landmark":"bharalu view"}
my_dict1.update(my_dict2)

In [38]:
print(my_dict1)

{'word': 'play', 'fruit': 'orange', 'name': 'prashant', 'country': 'USA', 'city': 'guwahati', 'landmark': 'bharalu view'}

In [54]:
#30. Write a code to convert a list of strings into a set
my_list = ['gourab', 'vivek', 'iqbal']
type(my_list)

list

In [48]:
s = set(my_list)

In [50]:
type(s)

set

In [52]:
my_list

['gourab', 'vivek', 'iqbal']

In [56]:

                                         #THEORITICAL QUESTIONS

In [64]:
#1.What are data structures and why they are important?
'''
Data structures are specialized formats that are important for organizing and collection of data and to access all types of data.
They are important beacuse choosing the right data srtucture improves and manages the data efficiently.
'''

'\nData structures are specialized formats that are important for organizing and collection of data and to access all types of data.\nThey are important beacuse choosing the right data srtucture improves and manages the data efficiently.\n'

In [66]:
#2. Explain the difference between mutable and immutable data types with examples
#Mutable data types are the data types that can be changed from one type to another. for ex-
my_lists = [1, 2, 3, 4, 5]
my_lists[0] = 4

In [68]:
my_lists

[4, 2, 3, 4, 5]

In [76]:
#Immutable data types are the data types which cannot be changed and are for special reasons.For ex-
my_tuple =(1, 2, 3, 4, 5)
my_tuple[0] = 3

TypeError: 'tuple' object does not support item assignment

In [78]:
#3.What are the main differences between lists and tuples in Python?
'''
 The main differences between lists and tuples are as follows:
 Lists are mutable whereas tuples are immutable.
 Lists are defined as [] whereas tuples are defined as()
 Lists are usually used when we neeed to change data type and tuples are used when we need not want to change the data type
 '''

'\n The main differences between lists and tuples are as follows:\n Lists are mutable whereas tuples are immutable.\n Lists are defined as [] whereas tuples are defined as()\n Lists are usually used when we neeed to change data type and tuples are used when we need not want to change the data type\n '

In [80]:
#4. Describe how dictionaries store data?
'''
 Dictionaries store data  with the help of key value pairs such as {"name":"gourab"}
 A data structure that provides fast access to data using keys.
'''

'\n Dictionaries store data  with the help of key value pairs such as {"name":"gourab"}\n A data structure that provides fast access to data using keys.\n'

In [84]:
#5. Why might you use a set instead of a list in Python
'''
 The reasons to use a set are as follows:
 a.When you need unique items.
 b.When you want fast lookups.
 c.When order of items doesn't matter.
'''

"\n The reasons to use a set are as follows:\n a.When you need unique items.\n b.When you want fast lookups.\n c.When order of items doesn't matter.\n"

In [88]:
#6. What is a string in Python, and how is it different from a list?
'''
Strings in python are a sequence of characters and lists are a sequence of any type of objects
Strings are immutable but lists are mutable.
Strings are homogenous whereas lists are heterogenous.
'''

'\nStrings in python are a sequence of characters and lists are a sequence of any type of objects\nStrings are immutable but lists are mutable.\nStrings are homogenous whereas lists are heterogenous.\n'

In [90]:
#7. How do tuples ensure data integrity in Python
'''
Tuples are immutable so it prevents accidental or intentional modification
It is hashable if all their elements are hashable, it enables use in sets as dicts keys safely
It has a fixed structure and ensures consistent shape and meaning of data.
'''

'\nTuples are immutable so it prevents accidental or intentional modification\nIt is hashable if all their elements are hashable, it enables use in sets as dicts keys safely\nIt has a fixed structure and ensures consistent shape and meaning of data.\n'

In [92]:
#8. What is a hash table, and how does it relate to dictionaries in Python?
'''
A hash table is a data structure that allows for fast storage, retrieval, and deletion of data using key-value pairs. It’s the theoretical foundation behind Python's dict (dictionary) type.
'''

"\nA hash table is a data structure that allows for fast storage, retrieval, and deletion of data using key-value pairs. It’s the theoretical foundation behind Python's dict (dictionary) type.\n"

In [94]:
#9.Can lists contain different data types in Python?
'''
Yes, lists in Python can contain different data types.

Python lists are heterogeneous, meaning you can store elements of any type—numbers, strings, objects, even other lists—all in the same list.
'''

'\nYes, lists in Python can contain different data types.\n\nPython lists are heterogeneous, meaning you can store elements of any type—numbers, strings, objects, even other lists—all in the same list.\n'

In [96]:
#10. Explain why strings are immutable in Python?
'''
Strings are immutable in python because, if strings were mutable, changing the value would make 
their hash invalid and break the dictionary.
'''

'\nStrings are immutable in python because, if strings were mutable, changing the value would make \ntheir hash invalid and break the dictionary.\n'

In [98]:
#11.What advantages do dictionaries offer over lists for certain tasks?
'''
Dictionaries offer some advantages over lists that are as follows:
a. Fast lookups by key.
b. Clearer code with named keys.
c. Flexible data organization.
'''

'\nDictionaries offer some advantages over lists that are as follows:\na. Fast lookups by key.\nb. Clearer code with named keys.\nc. Flexible data organization.\n'

In [100]:
#12. Describe a scenario where using a tuple would be preferable over a list
'''
A tuple is preferable over a list when you need a fixed, unchangeable collection of values — especially when the data is:
Logically grouped together
Should not be modified
Needs to be hashable (e.g., usable as a dictionary key)
'''

'\nA tuple is preferable over a list when you need a fixed, unchangeable collection of values — especially when the data is:\nLogically grouped together\nShould not be modified\nNeeds to be hashable (e.g., usable as a dictionary key)\n'

In [104]:
#13. How do sets handle duplicate values in Python?
'''
In Python, sets automatically eliminate duplicate values. When you add elements to a set,
only unique values are kept—any duplicates are ignored.
'''

'\nIn Python, sets automatically eliminate duplicate values. When you add elements to a set,\nonly unique values are kept—any duplicates are ignored.\n'

In [106]:
#14. How does the “in” keyword work differently for lists and dictionaries
'''
In lists "in" keyword checks if a value exists in the list. But in dictionaries "in" function
checks if a key exists in the dictionary.
'''

'\nIn lists "in" keyword checks if a value exists in the list. But in dictionaries "in" function\nchecks if a key exists in the dictionary.\n'

In [108]:
#15.Can you modify the elements of a tuple? Explain why or why not?
'''
No, you cannot modify the elements of a tuple because tuples are immutable and have fixed data for security and many reasons.
'''

'\nNo, you cannot modify the elements of a tuple because tuples are immutable and have fixed data for security and many reasons.\n'

In [112]:
#16.What is a nested dictionary, and give an example of its use case?
'''
A nested dictionary allows to group related data under a common key
nested_dict = {
    "user1": {"name": "Alice", "age": 30},
    "user2": {"name": "Bob", "age": 25}
}
'''

'\nA nested dictionary allows to group related data under a common key\nnested_dict = {\n    "user1": {"name": "Alice", "age": 30},\n    "user2": {"name": "Bob", "age": 25}\n}\n'

In [116]:
#17. Describe the time complexity of accessing elements in a dictionary.
'''
The time complexity of accessing elements in a dictionary is 0(1) (constant time)
Dictionaries are implemented using hash tables.
accessing an element like my_dict[key] uses the hash of the key to directly locate its value in a memory.
This makes lookups extremely fast -independent of the dictionary's size.
'''

"\nThe time complexity of accessing elements in a dictionary is 0(1) (constant time)\nDictionaries are implemented using hash tables.\naccessing an element like my_dict[key] uses the hash of the key to directly locate its value in a memory.\nThis makes lookups extremely fast -independent of the dictionary's size.\n"

In [118]:
#18.In what situations are lists preferred over dictionaries?
'''
Lists are preffered over dictionaries in the following situations:
a. When order matters 
b. Data has no meaaningful keys
c. Need to maintain a dynamic, indexed collection
d. iteration over all items
'''

'\nLists are preffered over dictionaries in the following situations:\na. When order matters \nb. Data has no meaaningful keys\nc. Need to maintain a dynamic, indexed collection\nd. iteration over all items\n'

In [120]:
#19.Why are dictionaries considered unordered, and how does that affect data retrieval?
'''
You can’t reliably access elements by position like you would with a list.
Dictionary order should not be relied upon for logic (though it's stable in modern Python).
Dictionaries in python were traditionally considered unordered because they did not preserve the order in which key-value 
pairs were inserted.
'''

"\nYou can’t reliably access elements by position like you would with a list.\nDictionary order should not be relied upon for logic (though it's stable in modern Python).\nDictionaries in python were traditionally considered unordered because they did not preserve the order in which key-value \npairs were inserted.\n"

In [124]:
#20.Explain the difference between a list and a dictionary in terms of data retrieval.
'''
Lists of are ordered sequences
We access elements by their numeric index(starting from 0)
It is best for sequential data, order-sensitive tasks
Whereas dictionaries are unordered mappings(though they preserve insertion order)
we access values using unique keys, not positions.
'''

'\nLists of are ordered sequences\nWe access elements by their numeric index(starting from 0)\nIt is best for sequential data, order-sensitive tasks\nWhereas dictionaries are unordered mappings(though they preserve insertion order)\nwe access values using unique keys, not positions.\n'